{% extends 'base.html' %}

{% block content %}

<a href="/">Home</a>

<!-- 
    TODO: Instead of the hard-coded values, use the event object to display the
    correct title, description, date, time, and number of guests
-->


<form method="POST" action="{{ url_for('main.event_detail', book_id=book.id) }}">
    {{ form.csrf_token }}
    <fieldset>
      {{ form.description.label }}
      {{ form.description }}

      {{ form.date.label }}
      {{ form.date }}

      {{ form.time.label }}
      {{ form.time }}

     {{ form.guests.label }}
     {{ form.guests }}

     {{ form.submit }}
        
    </fieldset>
</form>

<!-- TODO: Display the actual guests attending -->

<h2>Guests Attending:</h2>
<ul>
    
    <li><a href="/guest/1">Meredith</a></li>
    <li><a href="/guest/2">Dani</a></li>
    <li><a href="/guest/3">Jordan</a></li>
    <li><a href="/guest/4">Ducky</a></li>
</ul>

{% endblock %}
